.header {
    position: absolute;
    width: 100%;
    height: 18%;
    left: 0px;
    top: 0px;
    text-align: center;
    background: #D5F2FC;
}

.header > h2 {
    font-size: 1.5em;
}


@media screen and (max-width: 480px) {
    .header > h2 {
        font-size: 1.2em;
    }
}